<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.prepare.app" android:versionCode="500" android:versionName="0.5.0-experimental">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="36" />
    <!-- Deliberately no permissions, services, analytics or network access. -->
    <application android:label="Prepare" android:icon="@drawable/icon" android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="false" android:supportsRtl="true" android:debuggable="false">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
